* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing:border-box
}

html, body {
 width: 100%;
 height: 100%
}

body {
 padding: 5px
}

/**/
h1.title {
 margin: 1em 2em .5em 2em
}

/**/
div.body {

}

div.thread {
 margin: 4em 1em 1em 1em;
 background-color: #ddd;
 display: table;
 width: 80%;
 border-collapse: collapse
}
div.thread:first-child {
 margin-top: 1em
}

div.post {
 display: table-row
}

div.post > * {
 display: table-cell;
 padding: .3em
}

div.author {
 width: 10em;
 padding-left: 1em
}

div.itemBody {
 height: 4.5em;
 border: .8em solid #ddd;
 background-color: #bbb
}

/**/
form.form {
 margin: .3em
}

textarea {
 width: 100%;
 height: 8em;
 resize: none;
 font-size: 12pt
}

input[type=submit] {
 padding: .3em;
 margin: .3em 0
}
