<div>key: <span><%= session[:key] %></span></div>
<div>glob: <span><%= %></span></div>
<h1>A site</h1>
<div>
 <span>io:</span>
 <span><%= @site.io %></span>
</div>
<div>
 <span>ops:</span>
 <span><%= @site.ops %></span>
</div>
